.form-control{
    width: 100%;
}

.form-select{
    width: 100%;
}

.btn-primary{

    background-color: rgb(255, 0, 0);
}

.btn-secondary{

    background-color: rgb(5, 5, 5);
    color: white;    
}

.btn-success{
    background-color: rgb(255, 0 , 0);
}